@layer base {
    html,
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-user-select: none;
        user-select: none;
        zoom: reset;
        font-family: var(--font-sans);
    }

    *,
    *:focus,
    *:hover {
        outline: none;
    }
}
