.nitro-toolbar {
    @apply absolute bottom-0 left-0 flex items-center justify-between w-full gap-2 border-t pointer-events-auto h-toolbar-h bg-(--toolbar-bg) border border-(--toolbar-border) shadow-[inset_0_5px_0_-3px_var(--toolbar-shadow-top),inset_0_-4px_0_-3px_var(--toolbar-shadow-down)];

    .nitro-icon {
        @apply cursor-pointer translate-0 drop-shadow-[1px_1px_0px_rgba(0,0,0,0.3)];

        &:hover {
            @apply -translate-x-px -translate-y-px;

            &:not(.icon-me-circle) {
                @apply drop-shadow-[2px_2px_0px_rgba(0,0,0,0.65)];
            }
        }

        &:active {
            @apply opacity-70 translate-0;
        }

        &.icon-me-circle {
            @apply relative rounded-full overflow-hidden w-11.25 h-11.25;

            background-color: #262016;

            &::after {
                @apply absolute inset-0 pointer-events-none content-[''];

                background: url('/assets/flash/toolbar/icons/me_circle.png');
            }
        }

        &.avatar-image {
            @apply overflow-hidden rounded-full p-2.5;

            .avatar-image-container {
                margin-left: -34px;
                margin-top: -35px;
                clip-path: circle(21px at 46.5px 47.5px);
            }
        }
    }

    .toolbar-collapse {
        @apply relative z-10 w-3.5 h-10.75 cursor-pointer;
    }

    .toolbar-left,
    .toolbar-right {
        @apply flex gap-[--spacing(var(--toolbar-icons-spacing))] items-center border-neutral-600;
    }

    .toolbar-left {
        @apply border-r pr-[--spacing(var(--toolbar-icons-spacing))];

        .toolbar-collapse {
            background: url('/assets/flash/toolbar/collapse_left.png');

            &.active {
                background: url('/assets/flash/toolbar/collapse_left_active.png');
            }
        }

        .icon-habbo,
        .icon-rooms,
        .icon-progression {
            transition:
                opacity 50ms ease,
                margin 100ms ease-out;
        }

        &.collapsed {
            .icon-habbo,
            .icon-rooms,
            .icon-progression {
                @apply opacity-0 pointer-events-none;
            }

            .icon-habbo {
                margin-left: calc(
                    -1 * (28px + var(--spacing) * var(--toolbar-icons-spacing))
                );
            }

            .icon-rooms {
                margin-left: calc(
                    -1 * (44px + var(--spacing) * var(--toolbar-icons-spacing))
                );
            }

            .icon-progression {
                margin-left: calc(
                    -1 * (32px + var(--spacing) * var(--toolbar-icons-spacing))
                );
            }
        }
    }

    .toolbar-right {
        @apply border-l pl-[--spacing(var(--toolbar-icons-spacing))];

        .toolbar-collapse {
            background: url('/assets/flash/toolbar/collapse_right.png');

            &.active {
                background: url('/assets/flash/toolbar/collapse_right_active.png');
            }
        }
    }
}

.toolbar-menu {
    @apply pointer-events-auto flex items-center justify-center z-10 gap-2 px-3 absolute left-1 bottom-12 min-w-15 h-13.75 [border-image-source:var(--toolbar-menu-image)] [border-image-slice:6_6_6_6_fill] [border-image-width:6px];

    .toolbar-menu-button {
        @apply w-15.5 h-10.75 cursor-pointer;

        .nitro-icon {
            @apply block mx-auto h-[32px];

            transition: filter 0.2s ease-out;
            filter: grayscale(1);
        }

        span {
            @apply block text-center text-nowrap font-aa overflow-hidden;

            font-size: 0.6rem;
            color: white;
        }

        &:hover {
            .nitro-icon {
                filter: grayscale(0);
            }

            span {
                color: #21c1e2;
            }
        }
    }
}
