@font-face {
    font-family: Ubuntu;
    src: url('/assets/truffle/fonts/Ubuntu-C.ttf');
}

@font-face {
    font-family: UbuntuBold;
    src: url('/assets/truffle/fonts/Ubuntu-B.ttf');
}

@font-face {
    font-family: UbuntuBoldItalics;
    src: url('/assets/truffle/fonts/Ubuntu-BI.ttf');
}

@font-face {
    font-family: UbuntuItalics;
    src: url('/assets/truffle/fonts/Ubuntu-I.ttf');
}

@font-face {
    font-family: VolterBold;
    src: url('/assets/truffle/fonts/Volter-Bold.ttf');
}

@font-face {
    font-family: Volter;
    src: url('/assets/truffle/fonts/Volter.ttf');
}
